@model AutoShowWebApplication.BodyType
    <div style="padding:100px 0" class="container">

        @{
            ViewData["Title"] = "Details";
        }

        <h1>Деталі</h1>

        <div>
            <h4>Тип кузова</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BodyTypeNames)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BodyTypeNames)
                </dd>
            </dl>
        </div>
        @if (User.IsInRole("admin"))
        {
            <div>
                <a asp-action="Edit" asp-route-id="@Model.BodyTypeId">Редагувати</a> |
                <a asp-action="Index">Повернутися до списку</a>
            </div>}
        @if (!User.IsInRole("admin"))
        {
            <div>

                <a asp-action="Index">Повернутися до списку</a>
            </div>}
</div>