@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AutoShowWebApplication.Order
    <div style="padding:100px 0" class="container">
        @{
            ViewData["Title"] = "CreateOrder";
        }

        <h1>Створення замовлення</h1>

        <h4>Замовлення</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="CreateOrder">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="OrderId" class="control-label"></label>
                        <input asp-for="OrderId" class="form-control" />
                        <span asp-validation-for="OrderId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ManagerId" class="control-label"></label>
                        <select asp-for="ManagerId" class="form-control" asp-items="ViewBag.ManagerId"></select>
                        <!-- <input asp-for="ManagerId" class="form-control" />
                        <span asp-validation-for="ManagerId" class="text-danger"></span>-->
                    </div>
                    <div class="form-group">
                        <label asp-for="ModelId" class="control-label"></label>
                        <select asp-for="ModelId" class="form-control" asp-items="ViewBag.ModelId"></select>
                        <!--<input asp-for="ModelId" class="form-control" />
                        <span asp-validation-for="ModelId" class="text-danger"></span>-->
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomerId" class="control-label"></label>
                        <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                        <!--<input asp-for="CustomerId" class="form-control" />
                        <span asp-validation-for="CustomerId" class="text-danger"></span>-->
                    </div>
                    <div class="form-group">
                        <label asp-for="OrderDate" class="control-label"></label>
                        <input asp-for="OrderDate" class="form-control" />
                        <span asp-validation-for="OrderDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrderTypeId" class="control-label"></label>
                        <select asp-for="OrderTypeId" class="form-control" asp-items="ViewBag.OrderTypeId"></select>
                        <!--<input asp-for="OrderTypeId" class="form-control" />
                        <span asp-validation-for="OrderTypeId" class="text-danger"></span>-->
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Створити" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="IndexOrder">Повернутися до списку</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

        </div>